#aboutus ul {
    padding: 0;
    margin: 20px 0 50px 0;
}
#aboutus ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.red-bg {
    background:orangered;
    color: white;
}
#aboutus{
    background: #FAFAFA !important;
}
/**header**/
header {
    background-image: url('../images/index-img/sade site bg dark colored.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 440px;
    position: relative;
}

header .container #header-info {
    color: white;
    position: absolute;
    top: 45%;
    bottom: 0;
    right: 27%;
    left: 27%;
}
header .container #header-info p {
    font-size: 20px;
    line-height: 1.5;
}
@media(max-width: 800px) and (min-width: 501px){
    header .container #header-info {
        right: 16%;
        left: 16%;
    }
    header .container #header-info h1 {
        font-size: 30px;
    }
    header .container #header-info p {
        font-size: 17px;
    }
}
header .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
header #about_heading {
    position: absolute;
    top: 94%;
    left: 30%;
    right: 30%;
    padding: 30px 5%;
    border-radius: 3px;
    background: white;
    background-image: url('../images/index-img/sade site call to action background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    box-shadow: 0 1px 2px 1px rgba(0,0,0, 0.2);
}
#about_heading .btn-primary {
    border-radius: 20px !important;
}
@media(max-width: 987px) {
    header #about_heading {
        left: 20%;
        right: 20%;
    }
}
@media(max-width: 592px) {
    header #about_heading {
        left: 8%;
        right: 8%;
        padding: 20px 10px;
    }
    
}
@media(max-width: 395px) {
    header #about_heading #pricing button{
        margin-top: 7px;
    }
    header #about_heading .btn-primary {
        border-radius: 20px !important;
        width: 180px;
    }
}

@media(max-width: 500px) {
    header {
        height: 280px;
    }
    header .container #header-info {
        right: 0;
        left: 0;
    }
    header .container #header-info h1 {
        font-size: 26px;
    }
    header .container #header-info p {
        font-size: 15px;
        padding: 0 5px;
    }

}
@media(max-width: 400px) {
    header .container #header-info h1 {
        font-size: 23px;
    }
    header .container #header-info {
        top: 40%;
    }
}
section {
    overflow: hidden;
}
.circle-bordered {
    display: inline-block;
    font-size: 37px !important;
    line-height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
}
/*aboutus */
#aboutus {
    padding-top: 180px;
    padding-bottom: 100px;
    background: white;
}

#aboutus #about_us {
    padding-bottom: 150px;
}
@media(max-width: 600px) {
    #aboutus #about_us {
        padding-bottom: 40px;
    }
}
#aboutus h3 {
    font-family: Baloo;
    color: black !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
#aboutus #why_us #activities {
    padding: 15px 4%;
    border-radius: 3px;
    background: white;
    box-shadow: 0 2px 3px 1px rgba(0,0,0, 0.1);
}
#aboutus i.blue {
    color: dodgerblue;
}

#aboutus i.red{
    color: orangered;
}
#aboutus i.green{
    color: #09C924;
}
#aboutus i.skyblue{
    color: lightskyblue;
}
#aboutus ul li i {
    font-size: 14px;
}
@media(max-width: 372px) {
    #aboutus #about_heading #pricing button{
        margin-top: 7px;
    }
    #aboutus #about_heading .btn-primary {
        border-radius: 20px !important;
        width: 180px;
    }
}