/**nav stylings are in the general.css**/
/**header**/
header {
    background-image: url('../images/index-img/sade site bg dark colored.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    position: relative;
}

header .container #header-info {
    color: white;
    z-index: 1;
    position: absolute;
    top: 45%;
    bottom: 0;
    right: 27%;
    left: 27%;
}

header .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

@media(max-width: 768px) and (min-width: 501px){
    header .container #header-info {
        right: 20%;
        left: 20%;
    }
    header .container #header-info h1 {
        font-size: 30px;
    }
}

@media(max-width: 500px) {
    header {
        height: 280px;
    }
    header .container #header-info {
        right: 0;
        left: 0;
    }
    header .container #header-info h1 {
        font-size: 25px;
    }

}

@media(max-width: 400px) {
    header .container #header-info h1 {
        font-size: 23px;
    }
}
.open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #04E11E;

}
.open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.2;
	border-radius: 50%;
	background-color: #04E11E;
}



#contact_info {
    margin-bottom: 0px !important;
    padding: 150px 0;
    background: white;
    z-index: 100;
}
#contact_info #location {
    margin-top: 5% !important;
}
#contact_info h5 {
    padding: 0px !important;
    font-size: 18px;
}
#contact_info #opening_hours i {
    color: dodgerblue;
}
#contact_info #opening_hours h3 {
    color: whitesmoke;
    margin: 0 !important;
    font-size: 18px;
}
#location h3 {
    font-family: Baloo;
}

@media(max-width: 770px ) and (min-width: 500px) {
    #contact_info {
        padding: 150px 0 50px 0;
    }
}
@media(max-width: 499px ) {

    #contact_info {
        padding: 150px 0 50px 0;
    }
    header .container #header-info p {
        font-size: 15px;
        line-height: 1.5;
    }
}
@media(max-width: 450px) {
    #contact_info #location h3 {
        font-size: 18px;
    }
    #contact_info #location h5, #contact_info #opening_hours h3 {
        font-size: 16px;
    }
    #contact_info #opening_hours h4#opening_hours_header {
        font-size: 20px !important;
    }
}

/**duplicate**/
.well {
    background : rgba(0, 0, 0, 0.9) !important;
    color: whitesmoke;
    border: 1px solid white;
    border-radius: 7px !important;
    position: absolute;
    height: 230px;
    top: 77%;
    right: 30%;
    left: 30%;
}
 #opening_hours i {
    color: dodgerblue;
}
 #opening_hours h3 {
    color: whitesmoke;
    margin: 0 !important;
    font-size: 18px;
}
#opening_hours h4{
    font-family: Baloo;
}

@media(max-width: 770px ) and (min-width: 500px) {
    .well {
        right: 15%;
        left: 15%;
    }

}
@media(max-width: 499px ) {
    .well {
        right: 5%;
        left: 5%;

    }
}
@media(max-width: 450px) {
    #opening_hours h3 {
        font-size: 16px;
    }
    #opening_hours h4#opening_hours_header {
        font-size: 20px !important;
    }
}