/**header**/
header {
    background-image: url('../images/index-img/sade site bg dark colored.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
}
header .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
header #about_heading {
    position: absolute;
    top: 85%;
    left: 35%;
    right: 35%;
    padding: 20px 5%;
    border-radius: 3px;
    background: white;
    box-shadow: 0 1px 2px 1px rgba(0,0,0, 0.2);
}
header #about_heading h3 {
    font-weight: bold;
    font-size: 22px;
    padding: 0 !important;
    margin: 0 !important;
}
@media(max-width: 600px) {
    header #about_heading {
        left: 20%;
        right: 20%;
    }
    header #about_heading h3 {
        font-size: 17px;
    }
}
main{
    padding-top: 100px;
}
main .container .row h4{
    font-size: 25px;
    margin: 50px 0 30px 0;
}
main .container .row p{
    font-size: 18px;
}
